@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
	--fg-col: white;
	--bg-col: #222;
	--pri-col: #66FF66;
	--sec-col: #F58471;
	--text-col: var(--fg-col);
	--link-col: var(--fg-col);
	--border: solid 0.16em var(--fg-col);
}

* {
	font-family: 'Space Mono', monospace;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-size: 1em;
	margin: 0;
}

a { text-decoration: none; }

a:link {
	color: var(--pri-col);
}

a:visited {
	color: var(--sec-col);
}

a:hover {
	color: hotpink;
}

a:active {
	color: blue;
} 

body {
	background-color: var(--bg-col);
	color: var(--fg-col);
}

hr {
	border: none;
	border-top: var(--border);
	margin: 0.85em auto;
	width: calc(100% - 1em);
}

#container {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
}

.block {
	border-spacing: 0;
	border-bottom: var(--border);
	width: 100%;
}

.block .header {
	border: var(--border);
	border-bottom: none;
	padding: 0.5em;
	margin: 0.5em;
	text-align: center;
}

.block .body {
	border: var(--border);
	border-bottom: none;
	padding: 0.5em;
	margin: 0.5em;
}

@media only screen and (max-width:800px) {  }
